@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

body {
	font-family: 'Lato', Arial, sans-serif;
	font-weight: 400;
	line-height: 1.5;
	font-size: 16px;
	/*font: 400 16px/1.5, 'Lato', Arial, sans-serif ;*/
	color: #3c3c3c;
}

img {
	height: auto;
	max-width: 100%;
	border: 0;
}

.header {
	margin: auto;
	padding-top: 285px;
	width: 1920px;
	height: 787px;
	background: url(../img/header-bg.jpg);
	background-repeat: no-repeat;
	background-color: #3c3c3c0f;
	/*background-color: #383636a1;*/
	text-align: center;
}

.header__caption {
	font-size: 54px;
	line-height: 1.2;
	text-transform: uppercase;
	letter-spacing: 0.016em;
	color: #ffffff;
	margin-top: 46px;
}

.header__text {
	font-size: 15px;
	line-height: 1.93;
	text-transform: uppercase;
	color: #ffffff;
	margin-top: 46px;
}

.header__scroll {
	display: block;
    margin-top: 243px;
}

.header__container {
	width: 580px;
	text-align: center;
	margin: 0px auto 397px; 
}

/*Logo-svg style*/
.cls-1, .cls-2 {
    fill: none;
    stroke-width: 2px;
  }

  .cls-1 {
    stroke: #fff;
  }

  .cls-1, .cls-2, .cls-3 {
    fill-rule: evenodd;
  }

  .cls-2 {
    stroke: #f6f7fc;
  }

  .cls-3, .cls-4 {
    fill: #fff;
  }
  /*End Logo-svg style*/

.text-container {
	width: 902px;
	margin: auto;
	border: 2px solid #3c3c3c;
	border-top: none;
	text-align: center;
}
/*блок с белым текстом*/
.text-container--white {
	font-weight: 300;
	width: 902px;
	margin: auto;
	border: 2px solid #ffffff;
	border-top: none;
	color: #ffffff;
	text-align: center;
}

.about {
	margin-top: 163px;
}

.services {
	box-sizing: border-box;
	background-color: #3c3c3c0f; 			
	background-image: url(../img/services-bg.jpg);
	background-repeat: no-repeat;
	padding-top: 130px;
	/*padding-bottom: 110px;*/
	/*padding: 130px auto 110px;*/
	/*margin: 100px auto 0;*/
	margin: 0 auto;
	/*margin-top: 100px;*/
	width: 1920px;
	height: 488px;
}

p[class$=__text]:not(.what-do__text) {
	width: 543px;
	margin: 0px auto 30px;
}

.about__text-container {
	font-weight: 300;
	/*text-align: center;
	border: 2px solid #3c3c3c;
	border-top: none;*/
}

h2[class$="caption"] {
	display: flex;
	flex-direction: row;
	justify-content: center;
	text-align: center;
	align-items: center;
	position: relative;
	top: -18px;
}

h2[class$="caption"]::before,
h2[class$="caption"]::after {
	background-color: #3c3c3c;
	content: '';
	flex-grow: 1;
	height: 2px;
	position: relative;
}
h2[class$="caption"]::before {
	margin-right: 100px;
}
h2[class$="caption"]::after {
	margin-left: 100px;
}

.services__caption--white {
	display: flex;
	flex-direction: row;
	justify-content: center;
	text-align: center;
	align-items: center;
	position: relative;
	top: -18px;
}

.services__caption--white::before,
.services__caption--white::after {
	background-color: #ffffff; 
	content: '';
	flex-grow: 1;
	height: 2px;
	position: relative;
	/*top: -20px;*/
}
.services__caption--white::before {
	margin-right:100px;
}
.services__caption--white::after {
	margin-left:100px;
}

.what-do {
	margin-top: 100px;
	margin-bottom: 113px;
}

h3[class$=item] {
	font-weight: 700;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.16em;
	text-transform: uppercase;
}

.what-do__text {
	font-size: 14px;
	line-height: 1.849;
	font-weight: 300;
	width: 548px;
	margin: 30px auto 100px;
}


.grid-container {
	padding-top: 100px;
    padding-left: 0px;
    padding-right: 0px;
    max-width: 1920px;
    margin: auto;
    margin-bottom: 130px;
}

.flex-grid {
	display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
    align-content: stretch;
}

.flex-grid__item {
	/*box-sizing: border-box;*/
	height: 237px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px; 
    display: flex;
    flex-direction: column;
}

.item--col-1 {
    flex: 1 1 calc(30% - 10px);
}

.item--col-2 {
    flex: 1 1 calc(40% - 10px);
    
}

.item__link {
	display: block;

    position: relative;
    background-color: transparent;
    cursor: pointer;
    text-decoration: underline;
    height: 237px;
}

.item__link img {
	display: block;
    width: 100%;
}

.flex-grid__title {
	position: absolute;
    z-index: 1;
    
    bottom: 5%;
    left: 5%;
    margin-bottom: 0;
    color: #FFF;
    text-transform: uppercase;
    font-size: 34px;
}

h2:not(.contact__caption) {
	font-size: 34px;
	letter-spacing: 0.16em;
}

.contact__caption {
	font-size: 30px;
	letter-spacing: 0.16em;
}

.contact__text {
	line-height: 1.62;
	font-weight: 300;
}

.contact__btn {
	text-decoration: none;
	letter-spacing: 0.16em;
	line-height: 60px;
	text-transform: uppercase;
	display: table;
	width: 395px;
	height: 58px;
	background-color: #3c3c3c;
	color: #ffffff;
	margin: 40px auto 50px; 
	text-align: center;
	vertical-align: center;
}

.footer__txt {
	width: 300px;
	font-size: 14px;
	margin: 20px auto;
}

.footer__txt::before {
	content: '';
	display: inline-block;
	width: 35px;
	height: 37px;
	background-image: url(../img/footer-logo.svg);
	background-color: #598e593b;
}